server:
  port: 8089

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive  # ⬅️ OBRIGATÓRIO para Gateway
  cloud:
    loadbalancer:
      retry:
        enabled: true
      gateway:
        httpclient:
          connect-timeout: 1000
          response-timeout: 3s

# Eureka
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

# JWT (igual ao user-service)
jwt:
  secret: my-very-strong-secret-key-of-32-characters

# Circuit Breaker
resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        recordExceptions:
          - org.springframework.web.client.ResourceAccessException
          - java.io.IOException
          - java.util.concurrent.TimeoutException
          - org.springframework.web.client.HttpServerErrorException
        ignoreExceptions:
          - org.springframework.web.client.HttpClientErrorException
    instances:
      userServiceTokenValidation:
        baseConfig: default
        failureRateThreshold: 60
        waitDurationInOpenState: 15s
  retry:
    configs:
      default:
        maxAttempts: 3
        waitDuration: 500ms
    instances:
      userServiceRetry:
        baseConfig: default